extends ../layout

block content
  .row
    .col-md-6.col-md-offset-3
      .main-container
        .page-header
          h3 🤙 Hey #{user.profile.firstName}

        form.form-horizontal(action='/account/profile', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.col-sm-3.control-label(for='email') Email
            .col-sm-7
              input.input-plain-grey(type='email', name='email', id='email', value=user.email)
          .form-group
            .col-sm-offset-3.col-sm-4
              button.btn.btn.btn-primary(type='submit')
                i.fa.fa-pencil
                | Change Email

        .page-header
          h3 Change Password

        form.form-horizontal(action='/account/password', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.col-sm-3.control-label(for='password') New Password
            .col-sm-7
              input.form-control(type='password', name='password', id='password')
          .form-group
            label.col-sm-3.control-label(for='confirmPassword') Confirm Password
            .col-sm-7
              input.form-control(type='password', name='confirmPassword', id='confirmPassword')
          .form-group
            .col-sm-offset-3.col-sm-4
              button.btn.btn-primary(type='submit')
                i.fa.fa-lock
                | Change Password

        .page-header
          h3 Delete Account

        form.form-horizontal(action='/account/delete', method='POST')
          .form-group
            p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
            input(type='hidden', name='_csrf', value=_csrf)
            .col-sm-offset-3.col-sm-4
              button.btn.btn-danger(type='submit')
                i.fa.fa-trash
                | Delete my account
                
        h3 Linked Accounts
        .row
          .col-sm-offset-3.col-sm-4
            if user.slack
              p: a.text-danger(href='/account/unlink/slack') Unlink your Slack account
            else
              p: a(href='/auth/slack') Link your Slack account
            .col-sm-offset-3.col-sm-4
              if user.facebook
                p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
              else
                p: a(href='/auth/facebook') Link your Facebook account
            .col-sm-offset-3.col-sm-4
              if user.twitter
                p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
              else
                p: a(href='/auth/twitter') Link your Twitter account
